<div class="container">
    <h1>CADASTRO DE FORNECEDORES</h1>
    <div class="box">

    <form [formGroup]="formGroupSupplier">
      <div class="row form-group">
  
          <div class="col">
            <input type="text" class="form-control" formControlName="name" placeholder="Nome">
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="contact" placeholder="Contato">
          </div>
        </div>
  
        <select class="form-select" id="category" name="category" formControlName="category">
          <option selected disabled>Selecione a categoria</option>
          <option value="1">Regional</option>
          <option value="2">Nacional</option>
          <option value="3">Internacional</option>
        </select>
  
        <div class="form-check">
          <label class="form-check-label" for="active" >
              Ativo
          </label>
          <input class="form-check-input" type="checkbox" value="false" id="active" formControlName="active" >
      </div>
      
    </form>
  
      <button type="button" class="btn btn-primary" (click)="saveSupplier()" >Cadastrar</button><br>
  

 
  
    


    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Estado</th>
            <th scope="col">Categoria</th>
            <th scope="col">Contato</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <th scope="row">{{supplier.id}}</th>
            <td>{{supplier.name}}</td>
            <td>{{supplier.active}}</td>
            <td>{{supplier.category}}</td>
            <td>{{supplier.contact}}</td>

            <td>
              <button class="btn btn-primary me-1" (click)="removeSupplier(supplier)"> Excluir </button>
              <button class="btn btn-danger" (click)="editSupplier(supplier)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>



</div>

